{% extends 'components/base.html' %}


{% block content %}
  <main role="main">
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-12">
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Find Temperature For Location</h4>
            </div>
            <div class="card-body">
              <form>{% csrf_token %}
                <div class="form-group">
                  <label for="{{ form.location.auto_id }}">{{ form.location.label }}</label>
                  {{ form.location }}
                  <small class="form-text text-muted">
                    You can enter any type of content, such as name of the city or zipcode.
                  </small>
                </div>
                <button type="submit" class="btn btn-primary">Show Temperature</button>
              </form>
            </div>
            <div class="card-footer text-muted">
              Philippe
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock content %}
    